.main {
  margin-top: 10.562rem;
  margin-bottom: 10.562rem;
  display: flex;
  gap: 8.687rem;
  position: relative;

  .content {
    h1 {
      margin-top: 8.625rem;
      font-family: 'Lora';
      font-weight: 500;
      font-size: 3rem;
      line-height: 61px;
    }

    p {
      margin-top: 2.5rem;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 29px;
    }

    button {
      margin-top: 3rem;
      border: none;
      background-color: transparent;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 22px;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.875rem;
      color: var(--white);
      cursor: pointer;

      span {
        width: 1.125rem;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    max-width: 46.062rem;
    margin: 0 auto;
  }

  .profile {
    width: 100%;
    max-width: 25.625rem;
    height: 11.812rem;
    position: absolute;
    right: 2rem;
    bottom: -6.875rem;
    background: var(--black);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;

    .header {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1.187rem;

      img {
        width: 100%;
        max-width: 3.125rem;
        height: auto;
        margin: 0.625rem 0 0 0.875rem;
        background: #c4c4c4;
        border-radius: 37px;
      }

      .name {
        display: flex;
        flex-direction: column;
        margin-top: 1.437rem;
        p {
          font-family: 'Montserrat';
          font-weight: 500;
          font-size: 0.875rem;
          line-height: 17px;
        }

        span {
          font-family: 'Montserrat';
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          color: var(--gray-300);
        }
      }
    }

    .footer {
      margin-top: 30px;
      font-family: 'Lora';
      font-style: normal;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 31px;
      padding-left: 26px;
      padding-right: 6.062rem;
    }
  }
}
